<div class="row">
  <div class="col s12 m12 l4">
    <%= render 'stats', teams_count: @teams.count, total_points: @points.sum(&:value),
      team_members_count: @team_members.count, hackaton: @hackaton %>
  </div>
  <div class="col s12 m12 l4">
    <%= render 'reset_panel' %>
  </div>
  <div class="col s12 m12 l4">
    <%= render 'points' %>
  </div>
</div>
