nav {
  background-color: #3e6065;
  color: #fff;
}

.logo-wrapper {
  margin: 0 10px;
}

.card-action {
  color: #fff;
}

.text-center {
  text-align: center;
}

.house-avatar {
  text-align: center;

  img {
    max-width: 100%;
  }
}
