<header id="header" class="page-topbar">
  <div class="navbar-fixed">
    <nav class="navbar-color">
      <div class="nav-wrapper">
        <ul class="left">
          <li>
            <h1 class="logo-wrapper">
              <a href="/dashboard" class="brand-logo darken-1">
                <%= @hackaton.present? ? @hackaton.name : 'Hackaton' %>
              </a>
            </h1>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
